<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="UserXP">
    <title>UserXP-Dashboard</title>
    <link rel="apple-touch-icon" href="/dashboard/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/dashboard/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/vendors/css/ui/prism.min.css">


    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/app-assets/css/pages/knowledge-base.css">

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/dashboard/assets/css/style.css">

</head>

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">
    <!-- BEGIN: Header-->
    <%- include('../partials/header') %>

    <!-- BEGIN: Main Menu-->
    <%- include('../partials/main-menu') %>

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- page users view start -->
                <section class="page-users-view">
                    <div class="row">
                        <!-- account start -->
                        <!-- information start -->
                        <div class="col-md-6 col-12 ">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title mb-2">Tracking Code</div>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Add the following code just below the closing head tag.
                                    </p>
                                    <pre>
                                        <code class="language-html">
                                            &lt;script&gt;
                                            var UXQ = UXQ || {};
                                            UXQ['projectID'] = &quot;<%=id%>&quot;;
                                            UXQ['track'] = ['clicks'];
                                            &lt;/script&gt;
                                            &lt;script defer src="https://userxp.ga/userXP.js"&gt;&lt;/script&gt;
                                        </code>
                                        </pre>
                                </div>
                            </div>
                        </div>
                        <!-- information start -->
                        <!-- social links end -->
                        <div class="col-md-6 col-12 ">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between pb-0">
                                    <h4 class="card-title">User Demographics</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body py-0">
                                        <div id="customer-chart"></div>
                                    </div>
                                    <ul class="list-group list-group-flush customer-info">
                                        <li class="list-group-item d-flex justify-content-between ">
                                            <div class="series-info">
                                                <i class="fa fa-circle font-small-3 text-primary"></i>
                                                <span class="text-bold-600">Male</span>
                                            </div>
                                            <div class="product-result">
                                                <span>34</span>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between ">
                                            <div class="series-info">
                                                <i class="fa fa-circle font-small-3 text-warning"></i>
                                                <span class="text-bold-600">Female</span>
                                            </div>
                                            <div class="product-result">
                                                <span>23</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- social links end -->

                    </div>                
                    <!-- Table displaying details of all the testers -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="mb-0">Test Details</h4>
                                </div>
                                <div class="card-content">
                                    <div class="table-responsive mt-1">
                                        <table class="table table-hover-animation mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Age</th>
                                                    <th>Gender</th>
                                                    <th>Browser Width</th>
                                                    <th>Browser Height</th>
                                                    <th>View Report</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (test.status == 'ok') { %>
                                                    <% for(var i=0; i < test.tests.length; i++) { %>
                                                <tr>
                                                    <td><%=test.tests[i].tester.name%></td>
                                                    <td><%=test.tests[i].tester.age%></td>
                                                    <td><%=test.tests[i].tester.gender%></td>
                                                    <td><%=test.tests[i].browserWidth%></td>
                                                    <td><%=test.tests[i].browserHeight%></td>
                                                    <td>
                                                        <div class="product-result">
                                                            <a href="/dashboard/projects/UX-12345/test/<%=test.tests[i]._id%>"
                                                                target="_blank">View Report</a>
                                                        </div>
                                                    </td>                                                    
                                                </tr>
                                                <% } %>
                                                <%} else { %>
                                                <p> No testers yet </p>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of testers table -->
                    <button type="button" class="btn btn-primary btn-lg mt-2" data-toggle="modal"
                                data-target="#deleteForm">
                                Delete Project                                
                    </button>
                    <div class="modal fade text-left" id="deleteForm" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel33" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel33">Are you sure u want to delete?
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="#">
                                <div class="modal-body">
                                    <label>Enter the Project ID to delete </label>
                                    <div class="form-group">
                                        <input type="text" id='project-id' placeholder="Project ID" class="form-control">
                                    </div>                                    
                                <div class="modal-footer">
                                    <button type="button" id="deleteProject" class="btn btn-primary"
                                        data-dismiss="modal">Delete Project</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                 
                </section>
                <!-- page users view end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>

    <!-- BEGIN: Footer-->
    <%- include('../partials/footer') %>

    <!-- BEGIN: Vendor JS-->
    <script src="/dashboard/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="/dashboard/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="/dashboard/app-assets/vendors/js/ui/prism.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/dashboard/app-assets/js/core/app-menu.js"></script>
    <script src="/dashboard/app-assets/js/core/app.js"></script>
    <script src="/dashboard/app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/dashboard/app-assets/js/scripts/pages/app-user.js"></script>

    <script>
        /*=========================================================================================
    File Name: dashboard-ecommerce.js
    
    */

        $(window).on("load", function () {

            var $primary = '#7367F0';
            var $success = '#28C76F';
            var $danger = '#EA5455';
            var $warning = '#FF9F43';
            var $info = '#00cfe8';
            var $primary_light = '#A9A2F6';
            var $danger_light = '#f29292';
            var $success_light = '#55DD92';
            var $warning_light = '#ffc085';
            var $info_light = '#1fcadb';
            var $strok_color = '#b9c3cd';
            var $label_color = '#e7e7e7';
            var $white = '#fff';


            // Customer Chart
            // -----------------------------

            var customerChartoptions = {
                chart: {
                    type: 'pie',
                    height: 330,
                    dropShadow: {
                        enabled: false,
                        blur: 5,
                        left: 1,
                        top: 1,
                        opacity: 0.2
                    },
                    toolbar: {
                        show: false
                    }
                },
                labels: ['Male', 'Female'],
                series: [34, 23],
                dataLabels: {
                    enabled: false
                },
                legend: {
                    show: false
                },
                stroke: {
                    width: 5
                },
                colors: [$primary, $warning],
                fill: {
                    type: 'solid',
                    gradient: {
                        gradientToColors: [$primary_light, $warning_light]
                    }
                }
            }

            var customerChart = new ApexCharts(
                document.querySelector("#customer-chart"),
                customerChartoptions);

            customerChart.render();

        });

    </script>
</body>

</html>